<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "adiabatic.garden" }}</title>
    {% if page.url %}<link rel="canonical" href="https://adiabatic.garden{{ page.url }}">{% endif %}
    <link rel="stylesheet" href="/css/style.css">
    {% if content | containsMath %}
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.45/dist/katex.min.css" integrity="sha384-UA8juhPf75SzzAMA/4fo3yOU7sBJ0om7SCD2GHq0fZqZco6tr1UCV7nUbk9J90JM" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.45/dist/katex.min.js" integrity="sha384-Tt7wBxLKwSzFVRET4O4U9H6v8MNaQ/CjN2FMP4xFm0ErrFu6aNqoonRVW5W40iGI" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.45/dist/contrib/auto-render.min.js" integrity="sha384-bjyGPfbij8/NDKJhSGZNP/khQVgtHUE5exjm4Ydllo42FwIgYsdLO2lXGmRBf5Mz" crossorigin="anonymous"></script>
    {% endif %}
  </head>
  <body class="dark-page fullscreen {{ bodyClass if bodyClass }}">
    <div class="landing-content">
      <div class="pane">
        <script src="/js/tab-bar.js"></script>
        {{ content | safe }}
      </div>
    </div>
    <script src="/js/snow.js"></script>
  </body>
</html>
