---
layout: layouts/forest.njk
title: Everything else
description: Notes that belong to no section in particular, composed into one continuous view.
collectionName: unfiled
permalink: /writing/other/index.html
---
