---
layout: layouts/base.njk
title: "Writing"
bodyClass: "page-writing"
permalink: /writing/index.html
---
<div class="tab-panel">

    <div class="tags-cloud">
        <span class="tags-label">Tags:</span>
        {% for name, posts in collections %}
            {% if name != "all" and name != "pages" and name != "favs" and name != "lab" and name != "problems" and name != "stories" and name != "post" and name != "posts" and posts.length > 0 %}
                <a href="/tags/{{ name | slugify }}/">#{{ name }} ({{ posts.length }})</a>
            {% endif %}
        {% endfor %}
    </div>

    <h2 class="make-purple">Favs</h2>
    <ul class="post-list">
    {% for post in collections.favs %}
        <li><span class="date">{{ post.date | formatDate }}</span><a class="title" href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="make-purple"><a class="section-view-link" href="/writing/lab-notebook/">Lab notebook</a></h2>
    <ul class="post-list">
    {% for post in collections.lab %}
        <li><span class="date">{{ post.date | formatDate }}</span><a class="title" href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
    </ul>

    <p><h2 class="make-purple">Big social problems!</h2></p>
    <ul class="post-list">
    {% for post in collections.problems %}
        <li><span class="date">{{ post.date | formatDate }}</span><a class="title" href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="make-purple"><a class="section-view-link" href="/writing/stories/">Stories existing purely in your imagination</a></h2>
    <ul class="post-list">
    {% for post in collections.stories %}
        <li><span class="date">{{ post.date | formatDate }}</span><a class="title" href="{{ post.url }}">{{ post.data.title }}</a></li>
    {% endfor %}
    </ul>

    <h2 class="make-purple">Personal blogging</h2>
    <ul class="post-list">
        <li><span class="date">11-07-2025</span><a class="title" href="https://feralscholars.substack.com/p/euphoria">Euphoria</a></li>
        <li><span class="date">11-23-2025</span><a class="title" href="https://feralscholars.substack.com/p/yoyo-2027">Yoyo 2027</a></li>
    </ul>

</div>
